<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>JMG Main Demo</name>

    <description>
        An example for JMG on Android. 
    </description>

    <author href="http://www.hmgforum.com" email="">
	
    </author>

   <plugin name="cordova-plugin-whitelist" spec="1" />
   <allow-navigation href="*" />
	
    <platform name="android">
       <preference name="AndroidLaunchMode" value="singleTop"/>
       <preference name="android-minSdkVersion" value="11" />
   </platform>

    <!-- Windows only preferences -->
   <preference name="windows-phone-target-version" value="8.1" />
   <preference name="windows-target-version" value="8.1" />
   <preference name="Windows.Universal" value="10.0.10240.0" />
   <preference name="WindowsDefaultUriPrefix" value="ms-appx://"" />
   <preference name="Windows.Mobile-MaxVersionTested" value="10.0.10031.0" />
   <preference name="Windows.Universal-MinVersion" value="10.0.0.0" />
   <preference name="WindowsStoreIdentityName" value="Cordova.Example.ApplicationDataSample" />
   <preference name="WindowsStorePublisherName" value="CN=Contoso Corp, O=Contoso Corp, L=Redmond, S=Washington, C=US" />
   <preference name="WindowsToastCapable" value="true" />
   <preference name="uap-target-min-version" value="10.0.10586.0" />

</widget>
